body {
  background-color: #00096d;
  color: #ffffff;
    width: 500px;
  margin-right: auto;
  margin-left: auto;
}
button {
  padding: 5px 20px;
  background-color: #ffe7c2;
    color: #000000;
  border-style: none;
}
input {
  height: 20px;
}